.dashedLine{
    width: 2px;
    position: absolute;
    z-index: 2;
    // min-height: 1000px;
    // height: 1450px;
    border-left:2px dashed #e6e6e6;
    bottom: -100px;
    top:120px;
    transform-origin:0 0;
    &.dashedLine1{
        left:47px;
        // top:0;
    }
    &.dashedLine2{
        left:32.6%;
    }
    &.dashedLine3{
        left:35.25%;
    }
    &.dashedLine4{
        left:64.69%;
    }
    &.dashedLine5{
        left:67.36%;
    }
    &.dashedLine6{
        left:96.75%;
        
    }
}

@media screen and (max-width:1024px) {
    .dashedLine{
        &.dashedLine1{
            left:0;
        }
        &.dashedLine2{
            left: 47.3%;
        }
        &.dashedLine3, &.dashedLine5{
            display: none;
        }
        &.dashedLine4{
            left: 52.5%;
        }
        &.dashedLine6{
            left: 100%;
        }
    }
}