.solutionDiv{
    /* background: red; */
    width: 200px;
    height: 200px;
    transform: rotateX(60deg) rotateZ(-45deg);
    /* transform-origin: left center; */
    /* transform-style: preserve-3d; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    
}
.orange{
    box-shadow: 0 23px 30px #F3722D7E;
    background: rgba(243, 114, 44,1);
    margin: 20px auto;
    top:-130px;
    z-index: 3;
}
.yellow{
    box-shadow: 0 23px 30px #F9C74F7D;
    background: rgba(249, 199, 79, 1);
    margin: 20px auto;
    top:-120px;
    z-index: 2;
}
.green{
    box-shadow:0 23px 30px #43AA8B80;
    background: rgba(67, 170, 139, 1);
    margin: 20px auto;
    top:-110px;
    z-index: 1;
}


  #pinContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  #pinContainer .panel {
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
    background: blue;
    border: 3px solid black;
  }

  .panel span {
    position: relative;
    display: block;
    top: 50%;
    font-size: 80px;
  }
  
  .panel.blue {
    background-color: #3883d8;
  }
  
  .panel.turqoise {
    background-color: #38ced7;
  }
  
  .panel.green {
    background-color: #22d659;
  }
  
  .panel.bordeaux {
    background-color: #953543;
  }

  .test {
    transition: all 0.3s ease-out;
    width: 100px;
  height: 100px;
  background-color: red;
  margin: 0 !important;
  
 
}
.yellow {
    background-color: yellow;
  }




  .section {
    height: 70vh;
    background: linear-gradient(160deg, #f47c66 0%,#e51906 100%);
  }

  .sticky, .sticky2 {
    height: 100vh;
    background: linear-gradient(160deg, #e4f5fc 0%,#bfe8f9 26%,#9fd8ef 59%,#0068f2 100%);
    width: 100%;
  }

     .animation, .animation2 {
      width: 100%;
      height: 100%;
      position: absolute;}

      
    

    .heading {
      position: absolute;
      height: 100%;
      width: 100%;

    }

    .heading h2 {
        font-size: 40px;
        position: absolute;
        bottom: 10%;
        left: 10%;
        margin: 0;
      }

  